.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 15px;
}

.image{
    border-radius: 40%;
    width: 150px;
    height: 150px;
}